$black: #000;
$dark-grey: #333;
$grey: #666;
$light-grey: #999;
$lighter-grey: #ccc;
$theme-grey: #EFEFEF;
$white: #fff;
$theme-color: $white;
$theme-color-two: $black;

$body--background-color: $white;
$body--font-color: $black;
$body--link-color: $black;
$body--link-color-hover: $dark-grey;

$header--bgcolor: $white;

$nav--main--bgcolor: #000;
$nav--main--color: $white;
$nav--side--bgcolor: #000;
$nav--side--bgcolor-hover: #333;
$nav--side--color: #fff;

$nav--footer--color: $white;
$nav--footer--bgcolor: #000;
$nav--footer--bgcolor-hover: #000;
$nav--footer--color-hover: $lighter-grey;

$link--column-link-color: $black;
$link--column-link-color-hover: $black;

$button--text-color: $white;
$button--bgcolor: $theme-color-two;

$content--text-color: $black;

$block--grid--border-color:#666;
$block--border-color: $white;
$block--text-color: $black;
$block--heading-bgcolor: transparent;
$block--heading-text-color: $white;
$block--heading-link-color: $white;
$block--bgcolor: $white;

$footer--bgcolor: #000;
$footer--text-color: $white;

$input--border-color: #666;
$input--text-color: #000;

$theme--gradient-top: $nav--main--bgcolor;
$theme--gradient-bottom: #29363F;

