$max-width: 1020px;
$block--margin:1em;
$header--padding: 0 1em .5em;

$input--button-padding: .6em .5em;
$input--textfield-padding: 0.5em 0.5em;

$nav--main-margin:0 -4px 0 0;
$nav--side-margin:0 0 1px 0;
