$body--line-height: 1.5em;
$body--font-family: "Nobile", Helvetica, Arial, Geneva, sans-serif;
$body--font-two: "Nobile", Helvetica, Arial, Geneva, sans-serif;

$font--size-small: 0.9em;
$font--size-smaller: 0.8em;
$nav--main-font: $body--font-family;

$block--heading-size: 1.1em;
$block--heading-font: $body--font-two;
$site--slogan-size: 1.5em;
$site--slogan-margin: .35em 0 0;

